.card-container{
    width: 30%;
    min-height: 230px;
    min-width: 300px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 5px;

}
.line{
    border-top: 1px solid rgb(54, 53, 53);
    width: 90%;
}
.cardTop{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.cardMid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.section{
    height: 30%;
    width: 90%;
    padding-left: 10px;
}

.cardBottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-direction: row;
}
.cardBottom .button{
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: row;
}
.info{
    height: 30px;
    width: 30px;
   
    border-radius: 50px;
    background-color: #171717;
    color: green;
    font-family:'Trebuchet MS', sans-serif;
}
.trade{
    height: 40px;
    width: 90px;
}
.cardDescription{
    color: rgb(184, 184, 184);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.price{
    font-size: 1.2rem;
}
.priceDetails{
    font-size: 0.7rem;
    margin-left: 10px;
    color: rgb(170, 170, 170);
}
@media screen and (max-width: 1190px){
    .card-container{
        width: 49%;
        min-height: 230px;
        min-width: 300px;
        background-color: #171717;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 5px;
    
    }
    .section{
        height: 30%;
        width: 90%;
        padding-left: 10px;
    }
    .priceDetails{
        font-size: 0.7rem;
        margin-left: 70px;
        color: rgb(170, 170, 170);
    }
    .cardBottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

    }
    .cardBottom .button{
        height: 100%;
        width: 30%;
    }

}