.main{
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 color: white;
 background-color: black;
 padding-left: 10px;
 padding-top: 10px;
}
.navbarContainer{
    width: 90%;
    height: 15%;
    min-height:100px ;
}
.chartContainer{
    height: 60%;
    width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    
}
.chart{
    height: 100%;
    width: 50%;
    background-color:#171717;
    border-radius: 10px;


}
.linechart{
    height: 80%;
    width: 100%;
  
}
.chart2{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color:#171717;
    min-width: 200px;
    
}
.piechart{
    height: 75%;
    width: 100%;
    background-color:#171717;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wallet{
    background-color:#28a927 ;
    height: 30px;
    width: 70%;
    padding: 7px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.mainCardContainer{
    height: 35%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 99%;
    flex-flow: row wrap;

    
}
.marketoverview{
    margin-left: 4%;
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border-bottom: 1px solid grey;

}
@media screen and (max-width: 1110px){
    .main{
        height: 200%;
        width: 100%;
    }
    .chartContainer{
        max-height: 150vh;
        width: 95%;
       }
       .chart{
        height: 50%;
        width: 100%;
       }
       .chart2{
        height: 50%;
        width: 49%;
        margin-top: 10px;
       }
       .navbarContainer{
        width: 100%;
        height: 7%;
        min-height:100px ;
    }
}
@media screen and (max-width: 724px){
    .navbarContainer{
        width: 100%;
        height: 15%;
        min-height:100px ;
    }
    .main{
        height: 150%;
        width: 100vh;
       }
       .chartContainer{
        max-height: 150vh;
        width: 90vw;
       }
       .chart{
        height: 50%;
        width: 100%;
        margin-bottom: 5px;
       }
       .chart2{
        height: 50%;
        width: 49%;
       }
       .mainCardContainer{
        width: 75%;
        flex-wrap: wrap;
       }
  }
@media screen and (max-width: 425px){
    .navbarContainer{
        width: 100%;
        height: 7%;
        min-height:100px ;
    }
    .main{
        height: 190%;
        width: 100%;
        padding-left: 10px;
        margin-left: -10px;
       }
       .chartContainer{
        max-height: 400%;
        width: 90%;
        justify-content: flex-start;
    }
    .chart{
        height: 30%;
        width: 100%
    }
       .chart2{
        height: 30%;
        width: 100%
    }
       .linechart{
        height: 50%;
        width: 80%
    }
  }